.new-user {
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: left;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }

.new-user__input {
    font: inherit;
    display: block;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
}
  
.new-user__label {
    display: block;
    font-weight: bold;
    color: #4f005f;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-align: left;
}
  
.new-user__label:focus {
    outline: none;
    border-color: #4f005f;
}

.new-user button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    width: 10rem;
}

.new-user button:hover,
.new-user button:active {
  background-color: #510674;
  border-color: #510674;
}

.new-user button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-user button.alternative:hover,
.new-user button.alternative:active {
  background-color: #ddb3f8;
}